<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.secuso.privacyfriendlycameraruler">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".PFTapeMeasure"
        android:allowBackup="true"
        android:icon="@mipmap/launchericon_tapemeasure"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tutorial.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.secuso.privacyfriendlycameraruler.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.secuso.privacyfriendlycameraruler.screenruler.RulerActivity"
            android:label="@string/screen_ruler"
            android:launchMode="singleTop"
            android:parentActivityName="org.secuso.privacyfriendlycameraruler.screenruler.RulerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.secuso.privacyfriendlycameraruler.cameraruler.CameraActivity"
            android:label="@string/camera_ruler"
            android:launchMode="singleTop"
            android:parentActivityName="org.secuso.privacyfriendlycameraruler.cameraruler.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".screenruler.CalibrationActivity"
            android:parentActivityName=".screenruler.RulerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="org.secuso.privacyfriendlycameraruler.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="org.secuso.privacyfriendlycameraruler.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycameraruler.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlycameraruler.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="org.secuso.privacyfriendlycameraruler.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycameraruler.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlycameraruler.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.secuso.privacyfriendlycameraruler.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycameraruler.MainActivity" />
        </activity>
        <activity
            android:name=".database.ReferenceListViewer"
            android:label="@string/title_activity_ref_viewer"
            android:parentActivityName="org.secuso.privacyfriendlycameraruler.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycameraruler.SettingsActivity" />
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".backup.PFABackupService"
            android:enabled="true"
            android:exported="true"
            android:process=":backup"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.secuso.privacyfriendlybackup.api.pfa.PFAAuthService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>